.nav-box {
    display: inline-block;
    /* border: 2px solid #ddd; */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: rgb(110, 110, 110) !important;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1.9;
    position: relative;
    transition: background-color 0.2s, font-weight 0.2s;
}

.nav-box:hover,
.active-nav {
    background-color: #e9e9ea;

    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
    

}

.active-nav {
    border-bottom: 3px solid #2ec7fe;
}

.nav-box:hover::after,
.active-nav::after {
    width: 100%;
    /* Viền dưới chỉ rộng bằng phần chữ */
    left: 0%;
    

}

.nav-box::after {
    content: "";
    position: absolute;
    bottom: -3px;
    /* Đặt viền sát mép dưới */
    left: 50%;
    width: 0;
    /* Mặc định không có chiều rộng */
    height: 3px;
    border-radius: 0 0 50px 50px;
    background-color: #2ec7fe;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}